@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --font-sans: "Nunito Sans", sans-serif;
}

@theme {
  /* colors */
  --color-dark-Elements: hsl(209, 23%, 22%);
  --color-dark-background: hsl(207, 26%, 17%);
  --color-light-Text: hsl(200, 15%, 8%);
  --color-light-Input: hsl(0, 0%, 52%);
  --color-light-background: hsl(0, 0%, 98%);

  /* screen breakpoint */

  --breakpoint-xs: 32rem;

  /* animation */

  --animate-loading: loading 1.5s infinite ease-in-out;

  @keyframes loading {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(60px);
    }
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .elements {
    @apply bg-white dark:bg-dark-Elements;
  }
}

@layer components {
  .box-cont {
    @apply py-2.5 px-8 w-fit rounded-md bg-white dark:bg-dark-Elements shadow-md flex items-center;
  }
}

body {
  @apply antialiased bg-light-background dark:bg-dark-background text-light-Text dark:text-white font-semibold;
}
